{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
{% with post.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Тэги:</li>
    {% for t in tags %}
    <li><a href="{{ t.get_absolute_url }}">{{ t.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{ post.photo.url }}" alt=""></p>
{% endif %}

{{ post.content|linebreaks }}
{% endblock %}