{% extends 'base.html' %}

{% block content %}
<h1>Смена пароля</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-error">{{ form.not_field_errors }}</div>
    {% for f in form %}
    <p>
        <label for="{{ f.id_for_label }}" class="form-label">
            {{ f.label }}
        </label>{{ f }}
    </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Изменить пароль</button></p>
</form>
{% endblock %}